<!DOCTYPE html>
<html lang="ja" prefix="og: https://ogp.me/ns#">

<head>
  {% include ../partials/meta.liquid %}
  <script type="text/javascript" src="//typesquare.com/3/tsst/script/ja/typesquare.js?60c0c7460348452887976acce90393a3"
    charset="utf-8"></script>
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/stylesheets/stylesheets.css">
</head>

<body>
  {% include ../partials/header.liquid %}

  <main role="main">
    <div class="container is-fluid">
      {{ content }}
    </div>
  </main>
  {% include ../partials/footer.liquid %}

</body>

</html>
