/* base font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&display=swap');

/* import page stylesheets */
@import url('./root_header.css');
@import url('./root_footer.css');
@import url('./post.css');
@import url('./content.css');
@import url('./table_of_content.css');
@import url('./page.css');
@import url('./home.css');
@import url('./eleventy-plugin-embed-everything.css');

/* valiables */
:root {
  --main-color: 212 212 186; /* #d4d4ba */
  --background-color: 40 41 60; /* #28293c */
  --text-color-link: 150 195 252; /* #96c3fc */
  --text-color-visited: 252 150 198; /* #fc96c6 */
}

/* basement styles */
[lang='ja'] body {
  font-family: 'Noto Sans JP', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  line-height: 1.8;
}

body {
  color: rgb(var(--main-color));
  background-color: rgb(var(--background-color));
  margin: 0;
}

a {
  color: rgb(var(--text-color-link));
  text-decoration: none;
  font-weight: 400;
}

a:visited {
  color: rgb(var(--text-color-visited));
}

a:hover {
  text-decoration: underline;
}

header a {
  font-weight: bold;
}
img {
  max-width: 100%;
}

/* Layout */
[role='main'] {
  /* mobile */
  margin-inline-start: calc((12 / 16) * 1rem);
  margin-inline-end: calc((12 / 16) * 1rem);
  max-width: 100%;

  @media screen and (min-width: calc((1024/16)*1rem)) {
    /* tablet */
    margin-inline-start: auto;
    margin-inline-end: auto;
    max-width: calc(100% * 10 / 12);
  }

  @media screen and (min-width: calc((1216/16)*1rem)) {
    /* desktop */
    max-width: calc(100% * 6 / 12);
  }
}
