@charset 'utf-8'
@use "sass:meta"
@use 'sass:list'
@use 'override_bulma'
@use '../../node_modules/bulma/bulma'
@use '../../node_modules/bulma/sass/utilities/derived-variables.scss' as *
@use '../../node_modules/bulma/sass/utilities/initial-variables.scss' as *
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap')

@include meta.load-css('extend')

@include meta.load-css('root_elements')
@include meta.load-css('root_header')
@include meta.load-css('root_footer')
@include meta.load-css('recently_posts_list')
@include meta.load-css('aboutme')
@include meta.load-css('twitter_tweet')

// override bulma
.content
  p
    text-align: justify
    &:not(:last-child)
      margin-bottom: 1.5rem

  // お品書きのul in ulのマージンをリセットした
  .table_of_content
    ul:not(:first-child)
      margin-top: 0

.page
  section
    padding-bottom: 3rem

  section:last-child
    padding-bottom: 0

  h2
    @extend %title-serif
    text-align: center
    @media (min-width: override_bulma.$tablet_and_laptop)
      text-align: left

.post
  header
    border-bottom: 4px solid override_bulma.$color-yellow
    margin-bottom: 3rem

    h1
      @extend %title-serif

    time
      display: block
      padding-bottom: .5rem
      text-align: right
      font-size: list.nth($sizes, 7)
      color: override_bulma.$color-very-dark-grayish-blue

  .description_of_post
    padding-bottom: 3rem

  .table_of_content
    background-color: $white-ter
    padding: 1.5rem
    margin-bottom: 2rem
    border-radius: 8px
    line-height: 1.5
    h2
      font-size: 1.2rem
      padding-bottom: .8rem
      margin-bottom: .5rem
      border-bottom: $grey-lighter solid 1px

@media (min-width: override_bulma.$tablet_and_laptop)
  .page, .post
    max-width: 48rem
    margin-right: auto
    margin-left: auto
