<footer class="root_footer" role="contentinfo">
  <p class="copyright">
    &copy;
    <span class="year">
      {{ "now" | date: "%Y" }}
    </span>
    <a href="{{ site.author.github }}" class="name">{{ site.author.name }}</a>
  </p>
</footer>
