---
title: Oops! You request page is not found :(
dynamicPermalink: false
permalink: '404.html'
---

doctype html
html(lang='ja')
  head
    include _includes/partials/meta.pug
    script(type='text/javascript' src='//typesquare.com/3/tsst/script/ja/typesquare.js?60c0c7460348452887976acce90393a3' charset='utf-8')
    link(rel='stylesheet' href='stylesheets/stylesheets.css')
  body
    include _includes/partials/header.pug

    main(role='main')
      .container.is-fluid
        h1.m-0.py-6.has-text-centered.is-size-1=title
    include _includes/partials/footer.pug
  .body_border
