---
title: Oops! You request page is not found :(
permalink: '404.html'
---
<!DOCTYPE html>
<html lang="ja" data-theme="light">

<head prefix="og: https://ogp.me.ns#">
  {% include partials/meta.liquid %}
  <script type="text/javascript" src="//typesquare.com/3/tsst/script/ja/typesquare.js?60c0c7460348452887976acce90393a3"
    charset="utf-8"></script>
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/stylesheets/stylesheets.css">
</head>

<body>
  {% include partials/header.liquid %}

  <main role="main">
    <div class="container is-fluid">
      <h1 class="m-0 py-6 has-text-centered is-size-1">{{ title }}</h1>
    </div>
  </main>
  {% include partials/footer.liquid %}

  <div class="body_border"></div>
</body>

</html>
