.aboutme
  figure
    img(src='images/avatar_ksm-min.png')
  div
    dl
      dt name
      dd ksm (read as kasumi)
    dl
      dt job
      dd Designer(Graphic, UI, UX)
    p 課題解決のためなら手段にこだわらないWebおばはん。
