---
layout: layouts/base
---

section.page
  section
    h2 Recently
    ul.recently-posts-list
      each item in collections.post.reverse()
        li
          time(datetime=filters.htmlDateString(item.date))
            = filters.readableDate(item.date)
          a(href=item.url)
            = item.data.title

  section
    h2 Adout me
    include aboutme.pug

